<h2>Iniciar Sesión</h2>

<%= form_with(model: @user, url: sessions_path, local: true) do |form| %>

  <%= form.label :email %>
  <%= form.text_field :email %><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br>

  <%= form.submit 'Ingresar' %>
<% end %>
