<h2>Nuevo Usuario</h2>

<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :email %>
  <%= form.text_field :email %><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br>

  <%= form.label :confirmation %>
  <%= form.password_field :password_confirmation %><br>

  <%= form.submit 'Registrar' %>
<% end %>
